<%- include("partials/base.ejs"); %>

    <title>Edit</title>
</head>

<body>
    
    <form action="/search/<%= product._id%>?_method=PUT" method="POST">
        <p>
            <input
                type="text"
                name="name"
                placeholder="Product Name>"
                value="<%= product.name %>"
            />

            <input
                type="text"
                name="price"
                placeholder="Price"
                value="<%= product.price %>"
            />

            <input
                type="text"
                name="img"
                placeholder="Image URL"
                value="<%= product.img %>"
            />

            <input
                type="text"
                name="description"
                placeholder="Summary"
                value="<%= product.description %>"
            />
        </p>

        <input type="submit" value="Update" />
    </form>

</body>
</html>