<%- include("partials/base.ejs"); %>

    <title>Edit</title>
</head>

<body>
    
    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>        

    <form class="form-edit-parent" action="/search/<%= product._id%>?_method=PUT" method="POST">
            <input
                type="text"
                name="name"
                placeholder="Product Name>"
                value="<%= product.name %>"
                required="required"
            />

            <input
                type="number"
                name="price"
                placeholder="Price"
                value="<%= product.price %>"
                required="required"
            />

            <input
                type="text"
                name="img"
                placeholder="Image URL"
                value="<%= product.img %>"
                required="required"
            />

            <input
                type="text"
                name="description"
                placeholder="Summary"
                value="<%= product.description %>"
                required="required"
            />
   
            <select name="type">
                <option value="<%= product.type %>">Activity Type</option>
                <option value="Camp">Camp</option>
                <option value="Water">Water</option>
                <option value="Climb">Climb</option>
            </select>

            <select name="store">
                <option value="<%= product.store %>">Store</option>
                <option value="San Diego">San Diego</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="San Francisco">San Francisco</option>
            </select>


        <input type="submit" value="Update" />
    </form>

</body>
</html>