<%- include("partials/base.ejs"); %>

    <title>Search</title>
</head>
<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>


    <a class="btn-add_product" href="/new">Add Product</a>

    <div class="all-products-container">

                <% products.forEach(product => { %>
        <div class="product-container-parent">

            <a class="text-decoration-none" href="/search/<%= product._id %>">
                <div class="product-img-parent deco-none">
                    <img class="product-img"  src="<%= product.img %>" alt="product-img">  
                </div>
                        
                <div class="parent-name-price">
                    <p class="product-name"><%= product.name %></p>
                    <p class="product-price">$<%= product.price %></p>
                </div>

            </a>
        </div> <% })%>
    
    <!-- End of all-products-container -->
    </div>


<footer>

</footer>



</body>
</html>