<%- include("partials/base.ejs"); %>

    <title>Search</title>
</head>
<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>


    <a class="btn-add_product" href="/new">Add New Product</a>

    <div class="all-products-container">


                <% products.forEach(product => { %>
       <div class="product-container-parent">


                <div class="product-img-parent">
                    <a href="/search/<%= product._id %>">
                        <img class="product-img"  src="<%= product.img %>" alt="product-img">
                    </a>
                </div>
                <div class="product-name"><%= product.name %></div>
                <div class="product-price">$<%= product.price %></div>

        </div>
        
                <% })%>

    </div>



    <!-- <section class="left-panel">

        <form action="">Form1</form>
        <form action="">Form1</form>
        <form action="">Form1</form>

    </section>

     
    <section class="right-panel">



    </section>


<footer>

</footer> -->



</body>
</html>