<%- include("partials/base.ejs"); %>

    <title>Search</title>
</head>


<body>

    <div class="navbar">
        <span class="logo">
            Logo
        </span>
        <ul class="nav justify-content-end">


                <li class="nav-item"> <a class="nav-link" href="/Landing">Home</a> </li>
                <li class="nav-item"> <a class="nav-link" href="/Stores">Pick Store</a> </li>
                <li class="nav-item logout"> <a class="nav-link" href="/SignIn">Sign-In</a> </li>


        </ul>
    </div>



    <div class="products-container">


            <% products.forEach(product => { %>
        
        <ul>

            <li>
                <a href="/search/<%= product._id %>">
                    <img src="<%= product.img %>" alt="product-img">
                </a>
            </li>
            <li><%= product.name %></li>
            <li><%= product.price %></li>
            <li><%= product.description %></li>
            
        </ul>
            
            <% })%>



    </div>



    <!-- <section class="left-panel">

        <form action="">Form1</form>
        <form action="">Form1</form>
        <form action="">Form1</form>

    </section>


        
    <section class="right-panel">





    </section>



<footer>

</footer> -->



</body>
</html>