<%- include("partials/base.ejs"); %>

    <title>Search</title>
</head>
<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>


    <a href="/new">Add New Product</a>

    <div class="all-products-container">


                <% products.forEach(product => { %>
       <div class="product-container-parent">
            <ul class="product-container-child">

                <li>
                    <a href="/search/<%= product._id %>">
                        <img class="product-img"  src="<%= product.img %>" alt="product-img">
                    </a>
                </li>
                <li class="product-name"><%= product.name %></li>
                <li class="product-price">$<%= product.price %></li>

            </ul>
        </div>
        
                <% })%>

    </div>



    <!-- <section class="left-panel">

        <form action="">Form1</form>
        <form action="">Form1</form>
        <form action="">Form1</form>

    </section>

     
    <section class="right-panel">



    </section>


<footer>

</footer> -->



</body>
</html>