<%- include("partials/base.ejs"); %>

    <title>Search</title>
</head>
<body>

    <!-- Navbar -->
    <%- include("partials/navbar.ejs"); %>


    <a href="/new">Add New Product</a>

    <div class="all-products-container">


                <% products.forEach(product => { %>
        
        <ul class="product-container">

            <li>
                <a href="/search/<%= product._id %>">
                    <img src="<%= product.img %>" alt="product-img">
                </a>
            </li>
            <li><%= product.name %></li>
            <li>$<%= product.price %></li>

        </ul>
                <% })%>
    </div>



    <!-- <section class="left-panel">

        <form action="">Form1</form>
        <form action="">Form1</form>
        <form action="">Form1</form>

    </section>

     
    <section class="right-panel">



    </section>


<footer>

</footer> -->



</body>
</html>