<%- include("partials/base.ejs"); %>

    <title>Show</title>
</head>


<body>

        <!-- Navbar -->
        <%- include("partials/navbar.ejs"); %>        
    
        <section class=".show-product-container">
            
            <img class="show-product-img" src="<%= product.img %>" alt="product-img">

            <div class="show-product-info">
                <div class="show-product-name"><%= product.name %></div>
                <div class="show-product-price">$<%= product.price %></div>
                <div class="show-product-store">Available in these locations: <% product.stores.forEach(store => { %>
                    <%= store.name %> <% })%></div>
                <div class="show-product-description"><%= product.description %></div>
            </div>

        </section>

        <a class="btn btn-lg" href="/<%= product._id %>/edit">Edit</a>

        <form action="/<%= product._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Product" />
        </form>

    </ul>
        

    <!-- Delete -->




</body>
</html>


<!-- <img src="https://www.rei.com/media/321e994e-4d01-4b92-a500-a6a18c41fdab" alt=""> -->